@model Entidades.Alumnos

<div>
    <h4>Alumnos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.primerApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.primerApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.segundoApellido)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.segundoApellido)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.correo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.correo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fechaNacimiento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fechaNacimiento)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.curp)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.curp)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idEstadoOrigen)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Estados.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.idEstatus)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EstatusAlumnos.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
